#include "resource.h"

IDD_MAIN DIALOG 10, 10, 350, 250
STYLE WS_CAPTION | WS_POPUP | WS_SYSMENU | DS_MODALFRAME
CAPTION "Main Window - Modified"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX "User Info", -1, 10, 10, 280, 50
    LTEXT "Name:", -1, 20, 28, 30, 10
    EDITTEXT IDC_NAME, 55, 25, 100, 14
    AUTOCHECKBOX "Enabled", IDC_ENABLE, 170, 26, 60, 12
    GROUPBOX "Colors", -1, 10, 65, 280, 70
    AUTORADIOBUTTON "Red", IDC_RED, 20, 80, 60, 12
    AUTORADIOBUTTON "Green", IDC_GREEN, 20, 95, 60, 12
    AUTORADIOBUTTON "Blue", IDC_BLUE, 20, 110, 60, 12
    PUSHBUTTON "OK", IDC_OK, 50, 155, 50, 14
    PUSHBUTTON "Cancel", IDC_CANCEL, 120, 155, 50, 14
    EDITTEXT IDC_NOTES1, 20, 135, 150, 40
END

IDD_OPTIONS DIALOG 30, 30, 220, 160
STYLE WS_CAPTION | WS_POPUP | WS_SYSMENU | DS_MODALFRAME
EXSTYLE WS_TABSTOP
CAPTION "Preferences"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX "Behaviour", -1, 10, 10, 200, 60
    AUTOCHECKBOX "Save on exit", IDC_SAVE, 20, 25, 100, 12
    AUTOCHECKBOX "Load last file", IDC_LOAD, 20, 42, 100, 12
    GROUPBOX "Appearance", -1, 10, 75, 200, 50
    LTEXT "Theme:", -1, 20, 92, 35, 10
    COMBOBOX IDC_COLOR, 60, 90, 120, 80
    PUSHBUTTON "OK", IDC_OK, 60, 135, 50, 14
    PUSHBUTTON "Cancel", IDC_CANCEL, 130, 135, 50, 14
END

IDD_ABOUT_BOX DIALOG 50, 50, 200, 100
STYLE WS_CAPTION | WS_POPUP | WS_SYSMENU | DS_MODALFRAME
CAPTION "About"
FONT 8, "MS Sans Serif"
BEGIN
    ICON "", -1, 10, 10
    LTEXT "My App v1.0", -1, 35, 15, 130, 10
    LTEXT "Copyright (c) 2026", -1, 35, 30, 130, 10
    DEFPUSHBUTTON "OK", IDC_OK, 75, 75, 50, 14
END

IDR_MENU1 MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New", 100
        MENUITEM "&Open...", 101
        MENUITEM "&Save", 102
        MENUITEM SEPARATOR
        MENUITEM "E&xit", 103
    END
    POPUP "&Edit"
    BEGIN
        MENUITEM "Cu&t", 200
        MENUITEM "&Copy", 201
        MENUITEM "&Paste", 202
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...", 400
    END
END

STRINGTABLE
BEGIN
    1, "Application title"
    2, "Error: file not found"
    3, "Are you sure you want to exit?"
    4, "Settings saved"
END
