#include "resource.h"

IDD_BORDLG_DEMO DIALOG 40, 30, 240, 148
STYLE WS_CAPTION | WS_POPUP | WS_VISIBLE | WS_SYSMENU | DS_MODALFRAME
CAPTION "BWCC / BORDLG Sample"
FONT 8, "MS Sans Serif"
CLASS "bordlg"
BEGIN
    CONTROL "", IDC_SHADE_MAIN, "BorShade", WS_CHILD | WS_VISIBLE, 8, 8, 224, 100
    LTEXT "Chiseled steel face via CLASS bordlg.", IDC_STATIC_HINT, 16, 16, 208, 10
    LTEXT "Borland 3D controls (BWCC):", -1, 16, 32, 208, 10
    CONTROL "Enable grid", IDC_BOR_CHECK, "BorCheck", WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 16, 48, 100, 12
    CONTROL "Dialog units", IDC_BOR_RADIO1, "BorRadio", WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 16, 66, 100, 12
    CONTROL "Screen pixels", IDC_BOR_RADIO2, "BorRadio", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 16, 82, 100, 12
    CONTROL "", IDOK, "BorBtn", WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 48, 120, 32, 20
    CONTROL "", IDCANCEL, "BorBtn", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 88, 120, 32, 20
    CONTROL "", IDHELP, "BorBtn", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 128, 120, 32, 20
    CONTROL "", IDRETRY, "BorBtn", WS_CHILD | WS_VISIBLE | WS_TABSTOP, 168, 120, 32, 20
    PUSHBUTTON "Test Button", IDC_NEWBTN1, 10, 128, 60, 14
END

IDD_OPTIONS DIALOG 28, 28, 220, 160
STYLE WS_CAPTION | WS_POPUP | WS_SYSMENU | DS_MODALFRAME
CAPTION "Project Options"
FONT 8, "MS Sans Serif"
CLASS "bordlg"
BEGIN
    GROUPBOX "Editor", IDC_OPT_GROUP, 8, 8, 120, 72
    AUTOCHECKBOX "Show grid", IDC_OPT_CHECK_GRID, 16, 24, 100, 12
    AUTOCHECKBOX "Snap to grid", IDC_OPT_CHECK_SNAP, 16, 40, 100, 12
    PUSHBUTTON "Dialog units", IDC_OPT_RADIO_DU, 16, 56, 100, 12
    AUTORADIOBUTTON "Screen units", IDC_OPT_RADIO_PX, 16, 70, 100, 12
    LTEXT "Project name:", -1, 140, 12, 70, 10
    EDITTEXT IDC_OPT_EDIT_NAME, 140, 24, 70, 14
    LTEXT "Language:", -1, 140, 44, 70, 10
    COMBOBOX IDC_OPT_COMBO_LANG, 140, 56, 70, 60
    LTEXT "Linked files:", -1, 8, 88, 80, 10
    LISTBOX IDC_OPT_LIST_FILES, 8, 100, 120, 36
    DEFPUSHBUTTON "OK", IDOK, 140, 120, 50, 14
    PUSHBUTTON "Cancel", IDCANCEL, 140, 140, 50, 14
END

IDR_MAINMENU MENU
BEGIN
    POPUP "&File"
    BEGIN
        MENUITEM "&New Project\tCtrl+N", 40001
        MENUITEM "&Open...\tCtrl+O", 40002
        MENUITEM SEPARATOR
        MENUITEM "E&xit", 40003
    END
    POPUP "&Help"
    BEGIN
        MENUITEM "&About...", 40010
    END
END
